<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
      .tablebox{
        width: 95%;
        height: auto;
        border: 1px solid black;
        margin-top: 100px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Welcome Admin</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {{!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div> --}}
  </div>
</nav>

  <div class="card container mt-5">
                  <div class="card-body">
                    <h4 class="card-title">Add Products</h4>
                    <p class="card-description">Add your cloths</p>
                    <form class="forms-sample" action="/admin/addProduct" method="post" enctype="multipart/form-data">
                      <div class="form-group">
                        <label for="exampleInputUsername1">Product Name</label>
                        <input type="text" class="form-control" id="exampleInputUsername1" name="Pname" placeholder="kids cloth" required />
                      </div> 
                      <div class="form-group">
                        <label for="exampleInputEmail1">Enter Details</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" name="Details" placeholder="description"  required/>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Enter Price</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" name="Price" placeholder="Enter price"  required/>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputConfirmPassword1">Upload Image</label>
                        <input type="file" class="form-control" name="image" id="exampleInputConfirmPassword1" placeholder="Password"  required/>
                      </div>
                      <div class="form-check form-check-flat form-check-primary">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" /> Remember me </label>
                      </div>
                      <button type="submit" class="btn btn-primary mr-2"> Submit </button>
                      <button class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>

          <div class="container tablebox">
              <h3 style="text-align: center;background-color:black;color:white">Uploaded Images</h3>
              <table class="table">
  <thead>
    <tr>
  
      <th scope="col">Name</th>
      {{!-- <th scope="col">Description</th> --}}
      <th scope="col">Price</th>
      <th scope="col">Images</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each cloths}}
    <tr>
     
      <td>{{Pname}}</td>
      {{!-- <td>{{Details}}</td> --}}
      <td>{{Price}}</td>
      <td> <img src="/images/products/{{_id}}.jpg" alt="" style="height: 60px;width:60px"></td>
       <th scope="row"><a href="/admin/delete/{{_id}}" class="btn btn-outline-danger">Delete</a></th>
    </tr>  
    {{/each}}
  </tbody>
</table>
          </div>
  
</body>
</html>